<% layout('./layout') -%>

<div class='row'>

    <div class='col-md-6 col-12'>
        <h3>Last submit</h3>


        <% submits.forEach(function(submit){ %>
        <div class='row block'>
            <div class='col-md-12'>
                <a href='http://orwellscan.org/block/<%= submit.block_hash %>'><%= submit.block_hash %></a>
            </div>

            <div class='col-md-12'>
                height <a href='http://orwellscan.org/height/<%= submit.block_height %>'>#<%= submit.block_height %></a> difficulty <%= submit.difficulty %> <a href='/worker/<%= submit.address %>'><%= submit.address %></a>
            </div>

        </div>
        <% }); %>

    </div>

    <div class='col-md-6 col-12'>
        <h3>Last payouts</h3>


        <% payouts.forEach(function(payout){ %>
        <div class='row block'>

            <div class='col-md-12'>
                <a href='http://orwellscan.org/tx/<%= payout.hash %>'><%= payout.hash %></a>
            </div>

            <div class='col-md-12'>
                <%= payout.amount %> Orwl, at <%= new Date(payout.added*1000).toDateString() %>
            </div>

        </div>
        <% }); %>

    </div>


    <div class='col-md-6 col-12'>
        <h3>For last 2 weeks</h3>


        <% stats.forEach(function(st){ %>
        <div class='row block'>

            <div class='col-md-8'>
                <a href='/worker/<%= st.worker %>'><%= st.worker %></a>
            </div>

            <div class='col-md-4'>
                <%= st.shares %> shares ( <%= st.persent %>% )
            </div>

        </div>
        <% }); %>

    </div>

    <div class='col-md-6 col-12'>
        <h3>How to start mining</h3>

        <ol>
            <li>Choose your software</li>
            <li>Connect to stratum protocol:<br />
                <div class='alert alert-info'>stratum+tcp://pool.orwellscan.org:3256 -u orwellAddress/workerId -p any </div>
            </li>
            <li>start mining</li>
            <li>...</li>
            <li>PROFIT!</li>
        </ol>

    </div>


</div>